

@import url('../../dure/libraries/leaflet/0.7.3/leaflet.css');
@import url('../../dure/libraries/leaflet/plugins/leaf-label/leaflet.label.css');
@import url('../../dure/libraries/leaflet/plugins/leaflet-marker/leaflet.awesome-markers.css');
@import url('../../dure/libraries/leaflet/plugins/leaflet-dvf/css/dvf.css');
@import url('../../dure/libraries/bootstrap-select/css/bootstrap-select.css'); 
@import url('../../dure/libraries/bootstrap-select/css/bootstrap-select.css.map'); 
@import url('../../dure/libraries/jNotify/jquery/jNotify.jquery.css'); 

@import url('../../css/ionicons.min.css');
@import url('../../css/morris/morris.css');
@import url('../../css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css');
@import url('../../css/i-health_icons.css');
@import url('../../dure/libraries/slick/slick.css');
/* @import url('../../css/datatables/dataTables.bootstrap.css'); */

#ihmap {
  /*	 Preserve aspet ratio */
  width: 100%;
  height: 450px;
}

.legendPrintGrid{
  display: none;
  padding: 2%;
}

.legendPrintGrid i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.x-navigation.x-navigation-horizontal .xn-icon-button > a.username{padding: 15px 10px;
                                                                   text-align: center;
                                                                   width: auto;}


.x-navigation.x-navigation-horizontal .xn-icon-button > a.username:hover{
  color:#fff;

}


.x-navigation.x-navigation-horizontal > li.active > a {
  background: #1582DC;
  color:#fff;
}

.x-navigation.x-navigation-horizontal > li.active > a .fa, .x-navigation.x-navigation-horizontal > li.active > a .glyphicon {
  color: #fff;
}

.panel-primary > .panel-heading {
  background: #428bca;
  border-color: #E5E5E5;
  border-top:none;
  color:#fff;
}

.panel-primary .panel-heading .panel-title-box h3{color:#fff;}

ul.panel-controls > li > a.white {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  border: 1px solid #fff;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  margin-left: 3px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}



.x-navigation li > a:hover {

  color: #fff;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}


/* .nav-tabs, .nav-tabs.nav-justified {
  border-bottom: 0px;
  margin-bottom: 0px;
  margin-top: -40px;
  padding: 0px 0px;
} */

.margintop2px{margin-top: 2px;}
.tabstyle{margin-top:10px;border-top:none;box-shadow:none;}




.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #fff;
}


.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=900);
  opacity: 0.9;
}




.tabstyle > .tab-content > .tab-pane {
  display: block;
  height: 0;
  overflow-y: hidden;
}

.tabstyle > .tab-content > .active {
  height: auto;
}





@-webkit-keyframes flipInX { 
  0% { 
    -webkit-transform: perspective(400px) rotateX(90deg); 
    opacity: 0; 
  } 
  40% { 
    -webkit-transform: perspective(400px) rotateX(-10deg); 
  } 
  70% { 
    -webkit-transform: perspective(400px) rotateX(10deg); 
  } 
  100% { 
    -webkit-transform: perspective(400px) rotateX(0deg); 
    opacity: 1; 
  } 
} 
@keyframes flipInX { 
  0% { 
    transform: perspective(400px) rotateX(90deg); 
    opacity: 0; 
  } 
  40% { 
    transform: perspective(400px) rotateX(-10deg); 
  } 
  70% { 
    transform: perspective(400px) rotateX(10deg); 
  } 
  100% { 
    transform: perspective(400px) rotateX(0deg); 
    opacity: 1; 
  } 
} 
.flipInX { 
  -webkit-backface-visibility: visible !important; 
  -webkit-animation-name: flipInX; 
  backface-visibility: visible !important; 
  animation-name: flipInX; 
}

.leaflet-control-container{/* display:none; */}



#widget1{background-color:#3498DB;color:#fff !important;}
#widget2{background-color:#27AE60;color:#fff !important;}
#widget3{background-color:#3498DB;color:#fff !important;}

/* #map{height:425px;} */

#triggertour{display:none !important;}
.maprow{padding-top:7px !important;}

.breadcrumb li, .breadcrumb li a {
  font-size: 13px;
  line-height: 12px;
  color: #4d5669;
  text-decoration: none;
  font-weight:bold;
}

.bootstro-highlight{background-color:transparent;border:none;}

#mapheading {padding: 3px 5px;background-color:#fff;border:none;}
#chartsheading{padding: 3px 3px;background-color:#fff;border:none;}
.panel{margin-bottom:0px;}
/* #mapheading > div.panel-title-box > h3{color:#ffffff;}
#chartsheading > div.panel-title-box > h3{color:#ffffff;} */
#chartscontainer > .panel{border:none;box-shadow:none;}
#chart > .panel{border:none;box-shadow:none;}
#chartscontainer{padding:5px;padding-left:10px;}
#mapcontainer > .panel{border:none;box-shadow:none;}

.bg-green {
  background-color: #45B6B0 !important;
}

.bg-aqua {
  background-color: #65C3DF!important;
}

.bg-darkblue {
  background-color: #3E4E68;
  background-color: #09517d !important;
}

.bg-orange {
  background-color: #ea8557!important;
}

.bg-red {
  background-color: #f4543c!important;
}

.bg-warning {
  background-color: #f39c12!important;
}


/* Custom Style  */

.margin-lt-0 {
  margin-left: 0px !important; 
}
.margin-rt-0 {
  margin-right: 0px !important; 
}

.margin-tp-0 {
  margin-top: 0px !important; 
}

.zindex-0 {
  z-index: 0;
}

.panel {
  margin-bottom: 0px !important;
}

.breadcrumb {

  margin-bottom: 0px !important; 
}

.leaflet-top {
  padding-top: 44px;
}

.nav-tabs, .nav-tabs.nav-justified {

}

select.input-sm {
  line-height: 19px !important;
}


.showthisrange {
  cursor: pointer !important;
}


/* Changes for who country profile page */

.caret{
  border-top: 8px solid;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

thead th {
  font-weight: 400;
  /* background: #8a97a0;*/
  background: rgba(56, 133, 179, 0.94);
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
  color: black;
}

table, th, td {
  border: 1px solid white;
}

.list-group .list-group-item {
  border-color: #e5e5e5;
  color: #999999;
}
.list-group .list-group-item.active {
  background: #dc6767;
  border-color: #dc6767;
}
.list-group .list-group-item.active:hover,
.list-group .list-group-item.active:focus {
  background: #dc6767;
  border-color: #dc6767;
}
.list-group .list-group-item:first-child {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.list-group .list-group-item:last-child {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.radio-inline,
.checkbox-inline,
.checkbox,
.radio {
  padding-left: 15px !important;
  margin: 0 !important;
}
.checkbox label,
.radio label {
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 0;
}

/*Play button style*/
.playbutton-style {
  margin-left: 17px !important;
  padding-left: 16px !important;
  opacity: 0.85 !important; 
  font-size: 12px !important;
}

.notificationTheme .noty_message {
  padding: 10px 20px;
  text-align: center;
}

.notificationTheme.noty_container_type_alert {
  background-color: #FFFFCC;
}

#mapFilterNotificationModal .modal {
  overflow: hidden;
}

#mapFilterNotificationModal .modal-body {
  height: 450px;
  overflow: auto;
}


.notyButtonstyle {
  font-size: 11px !important;
  margin-right: 8px;
  float: right;
  background-color: #FFFFCC !important;
  color: black !important;
}
.noty_buttons {
  margin-top: -38px;  
}
.noty_top_layout_container {
  left: 47%;
  width: 40%;
}
.notificationTheme .noty_message {
  padding: 1px !important;
}
#noty_top_layout_container{
  left: 48% !important;
  width: 37% !important;
}

.x-navigation.x-navigation-horizontal > li > a .fa, .x-navigation.x-navigation-horizontal > li > a .glyphicon {

  color: #ffffff !important;
}

#layoutOptionContainer .radio input[type="radio"] {
  opacity:1;
}

.x-navigation.x-navigation-horizontal .xn-search {

  background-color: #ffffff !important;
}

#layoutOptionContainer .radio label::before {
  border: none !important;
}

.scrollEnable {
  max-height: 450px;
  overflow: scroll;
  overflow-x: hidden;
}

/*Branding For WHO */

.page-container {

  background-color: #1E7FB8;
}

.x-navigation {
  background-color: #1E7FB8 !important;
}

.x-navigation li > a:hover {
  background-color: #D86422 !important
}

.x-navigation li > ul {
  background-color: #1E7FB8 !important; 
}

.x-navigation li > ul li.active > a {
  background-color: #1E7FB8 !important;  
}

.x-navigation li.active > a {
  background-color: #1E7FB8 !important;   
}

.skin-blue .box-header {
  background-color: #1E7FB8 !important;    
}

.bg-darkblue {
  background-color: #42ACDC !important;     
}

ul.panel-controls > li > a:hover {
  color: #D86422 !important;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary.hover {
  background-color: #D86422 !important;
}

.x-navigation.x-navigation-horizontal > li > a:hover { 
  background-color: #D86422 !important;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #F5F5F5 !important;
}

tr:nth-child(even) {
  background: #F5F5F5 !important;
}

tr {
  background: #F5F5F5 !important;
}

label.btn.toggle-off {
  background: #0073b7 !important;
  color: #fff;
}